* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}
#root {
    display: flex;
    flex-direction: row;
}
nav {
    display: inline;
    top: 0;
    position: sticky;
    width: 230px;
    padding: 20px;
    display: inline;
    height: 100vh;
}
.nav-title {
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
.nav-title .profile{
    margin-bottom: 30px;
    text-align: center;
}

.nav-title .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
ul li {
    list-style-type: none;
}
ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}
ul li a:hover,
ul li a:active {
    font-weight: 600;
    color: #0c7db1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

nav, header, footer {
    color: #fff;
    background-color: rgb(18, 38, 124);
}
.content {
    flex: 1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p {
    font-size: 32px;
}
main {
    flex: 1;
}
footer {
    padding: 15px;
    text-align: center;
}
.login-main {
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.count_mhs_container {
    flex: 1;
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(100, 149, 237, .5);
}
.container {
    gap: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-row {
    gap: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
#count_perempuan_mhs {
    color: #e45b72;
}
#count_laki_mhs {
    color: blue;
}
table {
    border-collapse: collapse;
}
thead {
    background-color: rgba(100, 149, 237, .5);
}
th, td {
    padding: 10px 0;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f3a6a6;
}
input, select {
    border: none;
    padding: 5px;
    font-size: 16px;
}
.form-container {
    flex: 1;
    width: 512px;
    display: flex;
    align-self: center;
    flex-direction: column;
}
form {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
input:focus, select:focus {
    outline: none;
}
label {
    font-weight: 600;
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid #777575;
}
.input-field {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #868484;
}
.radio-group {
    gap: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #b49797;
}
.radio-group, .input-field {
    border-radius: 5px;
}
.submit {
    width: 40%;
    border: none;
    padding: 20;
    cursor: pointer;
    color: #b4a2a2;
    font-weight: 800;
    border-radius: 5px;
    background-color: rgb(20, 40, 74);
}
